/* About.css */
.about-section {
    background-image: url("/src/images/about/car.png");
    padding: 10rem 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    color: #010103;
    width: 100%;
  }
  
  .about-content__title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    max-width: 80rem;
    line-height: 1.5;
  }
  
  .about-content__title h1 {
    font-size: 4.2rem;
    margin-bottom: 1.7rem;
    font-weight: 700;
  }
  
  .about-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    width: 80rem;
    margin-bottom: 5rem;
  }
  
  @media (max-width: 850px) {
    .about-text {
      width: 100%;
    }
  }
  
  .about-box {
    background-color: white;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 2.8rem 4.5rem;
    margin-bottom: 2rem;
    transition: 0.15s ease;
  }
  
  .about-box h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .about-box h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .about-box h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .about-box p {
    font-size: 1.6rem;
    color: #706f7b;
    line-height: 1.7;
  }
  
  .divider {
    height: 1px;
    background-color: #ddd;
    margin: 3rem 0;
    width: 100%;
  }
  
  .about-media {
    display: flex;
    flex-direction: column;
    width: 80rem;
  }
  
  @media (max-width: 850px) {
    .about-media {
      width: 100%;
    }
  }
  
  .video-box {
    margin-bottom: 5rem;
  }
  
  .about-video {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  }
  
  .image-book-container {
    display: flex;
    gap: 3rem;
  }
  
  @media (max-width: 750px) {
    .image-book-container {
      flex-direction: column;
    }
  }
  
  .image-box {
    flex: 1;
  }
  
  .about-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  }
