/* Hero Section */
.hero-section {
  width: 100vw; /* Full width of viewport */
  height: 120vh; /* 97% of viewport height */
  background-color: #f8f8f8;
  position: relative;
}

/* Home Section */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Background Image Shape */
.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  object-fit: cover; /* Make sure it covers the background */
  filter: brightness(0.35) contrast(1); /* Darken and increase contrast */
}

@media (max-width: 800px) {
  .bg-shape {
    display: none;
  }
}

/* Hero Content */
.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 800px) {
  .hero-content {
    justify-content: center;
  }
}

/* Hero Text */
.hero-content__text {
  display: flex;
  flex-direction: column;
  z-index: 3;
  max-width: 50rem;
  margin-top: 5rem;
  transition: transform 0.2s ease-out; /* Smooth transition for text movement */
}

@media (max-width: 800px) {
  .hero-content__text {
    text-align: center;
    align-items: center;
  }
}

.hero-content__text h4 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 700;
}

.hero-content__text h1 {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.hero-content__text h1 span {
  color: #1572D3;
}

.hero-content__text p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 4rem;
}

/* Hero Buttons */
.hero-content__text__btns {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius:10%;
}

@media (max-width: 450px) {
  .hero-content__text__btns {
    flex-direction: column;
    border-radius:10%;
  }
}

.hero-content__text__btns a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius:10%;
}

.hero-content__text__btns__book-ride {
  background-color: #1572D3;
  padding: 1.8rem 3rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(48, 145, 255, 0.35);
  transition: all 0.3s;
  border: 2px solid #1572D3;
  border-radius:10%;
}

@media (max-width: 450px) {
  .hero-content__text__btns__book-ride {
    padding: 1.8rem 8rem;
  }
}

.hero-content__text__btns__book-ride:hover {
  box-shadow: 0 10px 15px 0 rgba(48, 162, 255, 0.6);
  background-color: #1572D3;
}

.hero-content__text__btns__learn-more {
  background-color: transparent;
  padding: 1.8rem 3rem;
  border-radius: 0.3rem;
  border: 2px solid white;
  transition: all 0.3s;
}

.hero-content__text__btns__learn-more:hover {
  background-color: transparent;
  color: white;
}

/* Hero Car Image */
.hero-content__car-img {
  z-index: 1;
  position: absolute;
  right: 0;
  width: 100%; /* Ensure it takes full width */
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .hero-content__car-img {
    display: none;
  }
}

/* Scroll Up Button */
.scroll-up {
  position: fixed;
  font-size: 3rem;
  color: white;
  background-color: #1572D3;
  border: 3px solid white;
  width: 2rem;
  height: 2rem;
  bottom: 5rem;
  right: 5rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  cursor: pointer;
}

.show-scroll {
  display: flex;
}
