.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 1000px;
     margin: 50px auto;
       border: 1px solid #ddd;
        border-radius: 8px;
  }
  

  h2 {
    color: #020202;
    font-weight: bold; /* Make text bold */
    font-size: 28px;
  }
  h1 {
    color: #020202;
    font-weight: bold; /* Make text bold */
    font-size: 26px;
  }
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
  

  label {

    margin-bottom: 3px; /* Reduced space below the label */
    color: #000000; /* Lighter color for the label */
    text-align: left; /* Align text to the left */
    width: 100%; /* Make label take full width */
  }
  
  input[type="tel"] {
    width: 110%;
    padding: 12px; /* Increased padding for a bigger input */
    border: 1px solid #ccc;
    border-radius: 17px; /* More radius for the input */
    margin-bottom: 15px;
  }
  
  input[type="tel"]:focus {
    border-color: #0070f3;
    outline: none;
  }
  
  button.primary {
    width: 110%;
    background-color: #0070f3;
    color: white;
    padding: 12px 1px; /* Increased padding */
    border: none;
    border-radius: 17px; /* More radius for the button */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.primary:hover {
    background-color: #005bb5;
  }
  

  form {
    width: 100%; /* Set to 90% for smaller width */
    max-width: 400px; /* Set a maximum width */
    margin: 0 auto; /* Center the form */
  }
  
  input[type="tel"] {
    width: 100%; /* Full width within the form */
    padding: 10px; /* Adjust padding */
    border: 1px solid #ccc;
    border-radius: 17px; /* Slightly smaller radius */
    margin-bottom: 10px; /* Reduce margin below */
  }
  
  button.primary {
    width: 100%; /* Full width within the form */
    background-color: #0070f3;
    color: white;
    padding: 10px; /* Adjust padding */
    border: none;
    border-radius: 17px; /* Slightly smaller radius */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  